%h2 Genres

= check_box_tag 'genres[]', "comedy", false, class: 'genres'
= label_tag :comedy
%br
= check_box_tag 'genres[]', "action", false, class: 'genres'
= label_tag :action
%br
= check_box_tag 'genres[]', "horror", false, class: 'genres'
= label_tag :horror
%br
= check_box_tag 'genres[]', "experience", false, class: 'genres'
= label_tag :experience
%br
= check_box_tag 'genres[]', "adventure", false, class: 'genres'
= label_tag :adventure
%br
= check_box_tag 'genres[]', "exploration", false, class: 'genres'
= label_tag :exploration
%br
= check_box_tag 'genres[]', "rpg", false, class: 'genres'
= label_tag :rpg
%br
= check_box_tag 'genres[]', "casual", false, class: 'genres'
= label_tag :casual
%br
