%h2 Category

= check_box_tag 'categories[]', "game", false, class: 'checkbox-filter categories'
= label_tag :game
%br
= check_box_tag 'categories[]', "entertainment", false, class: 'checkbox-filter categories'
= label_tag :entertainment
%br
= check_box_tag 'categories[]', "app", false, class: 'checkbox-filter categories'
= label_tag :app
%br

%h2 Number of Players

= check_box_tag 'players_single_player', "single-player", false, class: 'checkbox-filter genres'
= label_tag :players_single_player, 'single player'
%br
= check_box_tag 'players_multi_player', "multi-player", false, class: 'checkbox-filter genres'
= label_tag :players_multi_player, 'multi-player'
%br

%h2 Genres

= check_box_tag 'genre_action', "action", false, class: 'checkbox-filter genres'
= label_tag :genre_action, 'action'
%br
= check_box_tag 'genre_simulation', "simulation", false, class: 'checkbox-filter genres'
= label_tag :genre_simulation, 'simulation'
%br
= check_box_tag 'genre_educational', "educational", false, class: 'checkbox-filter genres'
= label_tag :genre_educational, 'educational'
%br
= check_box_tag 'genre_horror', "horror", false, class: 'checkbox-filter genres'
= label_tag :genre_horror, 'horror'
%br
= check_box_tag 'genre_adventure', "adventure", false, class: 'checkbox-filter genres'
= label_tag :genre_adventure, 'adventure'
%br
= check_box_tag 'genre_exploration', "exploration", false, class: 'checkbox-filter genres'
= label_tag :genre_exploration, 'exploration'
%br
= check_box_tag 'genre_rpg', "rpg", false, class: 'checkbox-filter genres'
= label_tag :genre_rpg, 'rpg'
%br
= check_box_tag 'genre_casual', "casual", false, class: 'checkbox-filter genres'
= label_tag :genre_casual, 'casual'
%br
= check_box_tag 'genre_puzzle', "puzzle", false, class: 'checkbox-filter genres'
= label_tag :genre_puzzle, 'puzzle'
%br
= check_box_tag 'genre_narrative', "narrative", false, class: 'checkbox-filter genres'
= label_tag :genre_narrative, 'narrative'
%br
= check_box_tag 'genre_arcade', "arcade", false, class: 'checkbox-filter genres'
= label_tag :genre_arcade, 'arcade'
%br
= check_box_tag 'genre_shooter', "shooter", false, class: 'checkbox-filter genres'
= label_tag :genre_shooter, 'shooter'
%br
= check_box_tag 'genre_movie', "movie", false, class: 'checkbox-filter genres'
= label_tag :genre_movie, 'movie'
%br
= check_box_tag 'genre_music_video', "music-video", false, class: 'checkbox-filter genres'
= label_tag :genre_music_video, 'music video'
%br
= check_box_tag 'genre_utilities', "utilities", false, class: 'checkbox-filter genres'
= label_tag :genre_utilities, 'utilities'
%br
= check_box_tag 'genre_sports', "sports", false, class: 'checkbox-filter genres'
= label_tag :genre_sports, 'sports'
%br
= check_box_tag 'genre_productivity', "productivity", false, class: 'checkbox-filter genres'
= label_tag :genre_productivity, 'productivity'
%br
= check_box_tag 'genre_music', "music", false, class: 'checkbox-filter genres'
= label_tag :genre_music, 'music'
%br
= check_box_tag 'genre_arcade', "arcade", false, class: 'checkbox-filter genres'
= label_tag :genre_arcade, 'arcade'
%br
= check_box_tag 'genre_racing', "racing", false, class: 'checkbox-filter genres'
= label_tag :genre_racing, 'racing'
%br
= check_box_tag 'genre_fighting', "fighting", false, class: 'checkbox-filter genres'
= label_tag :genre_fighting, 'fighting'
%br
= check_box_tag 'genre_strategy', "strategy", false, class: 'checkbox-filter genres'
= label_tag :genre_strategy, 'strategy'
%br