%h2 Category

= check_box_tag 'categories[]', "game", false, class: 'checkbox-filter categories'
= label_tag :game
%br
= check_box_tag 'categories[]', "entertainment", false, class: 'checkbox-filter categories'
= label_tag :entertainment
%br
= check_box_tag 'categories[]', "app", false, class: 'checkbox-filter categories'
= label_tag :app
%br

/ %h2 Misc

/ = check_box_tag 'categories[]', "app", false, class: 'checkbox-filter categories'
/ = label_tag :app
/ %br

%h2 Genres

= check_box_tag 'genres[]', "action", false, class: 'checkbox-filter genres'
= label_tag :action
%br
= check_box_tag 'genres[]', "simulation", false, class: 'checkbox-filter genres'
= label_tag :simulation
%br
= check_box_tag 'genres[]', "educational", false, class: 'checkbox-filter genres'
= label_tag :educational
%br
= check_box_tag 'genres[]', "horror", false, class: 'checkbox-filter genres'
= label_tag :horror
%br
= check_box_tag 'genres[]', "experience", false, class: 'checkbox-filter genres'
= label_tag :experience
%br
= check_box_tag 'genres[]', "adventure", false, class: 'checkbox-filter genres'
= label_tag :adventure
%br
= check_box_tag 'genres[]', "exploration", false, class: 'checkbox-filter genres'
= label_tag :exploration
%br
= check_box_tag 'genres[]', "rpg", false, class: 'checkbox-filter genres'
= label_tag :rpg
%br
= check_box_tag 'genres[]', "casual", false, class: 'checkbox-filter genres'
= label_tag :casual
%br
= check_box_tag 'genres[]', "puzzle", false, class: 'checkbox-filter genres'
= label_tag :puzzle
%br
= check_box_tag 'genres[]', "narrative", false, class: 'checkbox-filter genres'
= label_tag :narrative
%br
= check_box_tag 'genres[]', "arcade", false, class: 'checkbox-filter genres'
= label_tag :arcade
%br
= check_box_tag 'genres[]', "shooter", false, class: 'checkbox-filter genres'
= label_tag :shooter
%br