= image_tag @game.main_image.url(:large), class: 'img-responsive'

.row.games-show-wrapper
  .col-xs-6

    %h2.game-title= @game.name

    %p.center-text 
   
    = rating_for @game, "rating", enable_half: true, half_show: true, star_path: '/images/ratyrate'
    %br
    = @game.developer
    %br
    Released:
    = @game.date_developed.strftime("%b %d, %Y")
    %br
    = @game.genre_list
    %br
    = @game.category
    %br
    = @game.website
    %br
    = @game.detail

  .col-xs-6
    #slick
      - if @game.attachments
        - @game.attachments.each do |attachment|
          %img.img-responsive{ src: attachment.image.url }


