= image_tag @game.main_image.url(:large), class: 'img-responsive'

.row.games-show-wrapper
  .col-xs-6

    %h2.game-title= @game.name

    %p.center-text 
   
    = rating_for @game, "rating", enable_half: true, half_show: true, star_path: '/images/ratyrate'
    %br
    Developers: 
    = @game.developer
    %br
    Released:
    = @game.date_developed.strftime("%b %d, %Y")
    %br
    = @game.price
    %br
    = @game.genre_list
    %br
    = @game.category
    %br
    %a{ href: @game.full_url, target: '_blank' }= @game.full_url
    %br
    = @game.detail

  .col-xs-6#media-wrapper
    #slick
      - if @youtube_videos
        - @youtube_videos.each do |youtube_video|
          %iframe{ width: "567", height: "400", src: "//www.youtube.com/embed/#{youtube_video}", frameborder: "0", allowfullscreen: true, webkitAllowFullScreen: true, mozallowfullscreen: true }
      - if @game.attachments
        - @game.attachments.each do |attachment|
          %img.img-responsive{ src: attachment.image.url }
.row.games-show-wrapper
  .col-xs-12
    .comments
      / START DISQUS
      #disqus_thread
      :javascript
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'vrmachine';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the
        %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
      / END DISQUS
