= image_tag @game.main_image.url(:large), class: 'img-responsive'

.row.games-show-wrapper
  .col-xs-6

    %h2.game-title= @game.name

    %p.center-text 
   
    = rating_for @game, "rating", enable_half: true, half_show: true, star_path: '/images/ratyrate'
    %br
    Developers: 
    = @game.developer
    %br
    Released:
    = @game.date_developed.strftime("%b %d, %Y")
    %br
    = @game.genre_list
    %br
    = @game.category
    %br
    = link_to @game.website, @game.website, target: '_blank'
    %br
    = @game.detail

  .col-xs-6#media-wrapper
    #slick
      - if @youtube_videos
        - @youtube_videos.each do |youtube_video|
          %iframe{ width: "567", height: "400", src: "https://www.youtube.com/embed/#{youtube_video}", frameborder: "0", allowfullscreen: true, webkitAllowFullScreen: true, mozallowfullscreen: true }
      - if @game.attachments
        - @game.attachments.each do |attachment|
          %img.img-responsive{ src: attachment.image.url }


