= form_for @post, html: { multipart: true } do |f|
  = f.label :title
  = f.text_field :title
  %br
  = f.label :tag_list
  = f.text_field :tag_list
  %br
  = f.label :image
  = f.file_field :image
  %br
  = f.label :content
  = f.text_area :content
  %br
  = f.label :youtube_videos
  = f.text_area :youtube_videos
  %br
  = f.label :release_date
  = f.date_field :release_date
  %br
  = f.submit
