!!!
%html
  %head
    %title Gear VR Games
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Ubuntu:700|Permanent+Marker', rel: 'stylesheet', type: 'text/css' }
  %body.overflow-x-hidden
    .row
      .col-xs-12.no-padding.site-nav
        = link_to 'The VR Machine', root_url, class: 'logo'
        =# link_to 'Gear VR News', posts_tag_path('gear-vr-news'), class: 'nav-links'
        =# link_to 'Top 10 Gear VR Games', posts_tag_path('top-list'), class: 'nav-links'
        - if current_user && current_user.email == 'yangsunwoo@gmail.com'
          = link_to 'New Game', new_game_path
          = link_to 'New Post', new_post_path

    .container
      = yield