!!!
%html
  %head
    %title Gear VR Games
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .row
      .col-xs-12
        = link_to 'Home', root_url
        - if current_user && current_user.email == 'yangsunwoo@gmail.com'
          = link_to 'New', new_game_path

    .container
      = yield