!!!
%html
  %head
    %title= @game.name + " | Gear VR Games"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'ratyrate.js'
    %link{ href: 'https://fonts.googleapis.com/css?family=Ubuntu:700|Permanent+Marker', rel: 'stylesheet', type: 'text/css' }
    %script{:async => "async", "data-sumo-site-id" => "a7bc94ffd217663146cc45f1d320b97e9246003c73dfc13f976f171394d5efb3", :src => "//load.sumome.com/"}
    %meta{:content => "#{@game.detail}", :name => "description"}/
  %body

    .container.container-full
      .row
        .col-xs-12.no-padding.show-site-nav
          = link_to 'The VR Machine', root_url, class: 'logo'
          = link_to 'Search Gear VR', root_url, class: 'nav-links'
          - if current_user && current_user.email == 'yangsunwoo@gmail.com'
            = link_to 'Edit Game', edit_game_path(@game)
            = link_to 'Destroy Game', @game, method: :delete, confirm: 'You sure boya?'
          
      = yield