!!!
%html
  %head
    %title Gear VR Games
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'ratyrate.js'
    %link{ href: 'https://fonts.googleapis.com/css?family=Ubuntu:700|Permanent+Marker', rel: 'stylesheet', type: 'text/css' }
  %body

    .container.container-full
      .row
        .col-xs-12.no-padding.show-site-nav
          = link_to 'The VR Machine', root_url, class: 'logo'
          - if current_user && current_user.email == 'yangsunwoo@gmail.com'
            = link_to 'Edit Game', edit_game_path(@game)
            = link_to 'Destroy Game', @game, method: :delete, confirm: 'You sure boya?'
          
      = yield