!!!
%html
  %head
    %title= @post.title + " | Upcoming Gear VR Games"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'ratyrate.js'
    %link{ href: 'https://fonts.googleapis.com/css?family=Ubuntu:700|Permanent+Marker', rel: 'stylesheet', type: 'text/css' }
    %script{:async => "async", "data-sumo-site-id" => "a7bc94ffd217663146cc45f1d320b97e9246003c73dfc13f976f171394d5efb3", :src => "//load.sumome.com/"}
    %meta{:content => "#{@post.content}", :name => "description"}/
  %body

    .container.container-full
      .row
        .col-xs-12.no-padding.site-nav
          = link_to image_tag("https://s3.amazonaws.com/vrlist/misc/logo.png", alt: "VRMachine - Your Gear VR Search Engine", class: 'logo'), root_url
          = link_to 'Search Gear VR', root_url, class: 'nav-links'
          = link_to 'Upcoming Gear VR Games', posts_tag_path('upcoming'), class: 'nav-links'
          = link_to 'About VRMachine', '/about-vrmachine', class: 'nav-links'
          - if current_user && current_user.email == 'yangsunwoo@gmail.com'
            = link_to 'Edit Post', edit_post_path(@post)
            = link_to 'Destroy Post', @post, method: :delete, confirm: 'You sure boya?'
          
      = yield